anyascii==0.3.1
blink==0.2.0
colorama==0.4.4
en_core_web_md==2.2.5
flair==0.11.1
gensim==4.1.2
nltk==3.7
numpy==1.22.3
pandas==1.5.1
requests==2.27.1
scikit_learn==1.1.3
segtok==1.5.11
setuptools==61.2.0
spacy==3.3.0
tokenizers==0.12.1
torch==1.8.1+cu111
transformers==4.18.0
